<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    
    <context:component-scan base-package="com.powernode.spring.bean" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    
    <bean id="DogBean" class="com.powernode.spring.bean.Dog" p:age="20" p:name="旺财" p:birth-ref="DogDate"></bean>
    <bean id="DogDate" class="java.util.Date"/>

    <bean id="UserBean" class="com.powernode.spring.bean.User"/>
    <bean id="UserDaoBean" class="com.powernode.spring.dao.UserDao"/>
    <bean id="UserServiceBean" class="com.powernode.spring.service.UserService">
        <property name="userDao" ref="UserDaoBean"/>
    </bean>

</beans>